<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>coredata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0429B3521CC6274B00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429B36E1CC6274B00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429B3791CC6274B00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429B3D71CC7252C00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429B3F21CC7252C00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429B3FD1CC7252C00A110C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
